/* style.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-main: #ffd4f1;
  --color-sub: #fc99d6;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

/* 見出しを細く、字間を詰める */
h2, h3, h4 {
  letter-spacing: -0.05em;
}